.Home{
  width: 100%;
  position: relative;
  text-align: center;
  position: absolute;
  font-family: arial, sans-serif;
}

.header{
  position: absolute;
  width: 100%;
  height: 8vw;
  z-index: 1;
  top: 0;
  padding: 0;
  color: #fcfff5;
  line-height: 1.5;
  background-color: rgba(0,0,0, 0.7);
}

.logo{
  max-height: 90%;
  width: auto;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 2%;
}

.title{
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -50%);
  margin: 0;
  font-size: 4vw;
  font-weight: bold;
  font-family: 'Righteous', cursive;
}


.gallery{
  position: relative;
  top: 10vw;
  left: 20%;
  width: 75%;
  padding: 1em 0.5em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.1);
}


.item-wrapper{
  position: relative;
  width: 22%;
  min-height: 30vm;
  margin: 0.5em 0.3em;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0.2em 0.5em 0 rgba(0,0,0,0.8);
}

.gallery-item{
  opacity: 0.8;
  cursor: pointer;
  text-decoration: none;
  color: #F2F2F2;
}

.gallery-item:hover{
  opacity: 1;
}

.tag{
  overflow: auto;
  position: relative;
  margin: 0.5vw 0;
}

.movie-name{
  position: relative;
  display: block;
  margin: 0;
  font-size: 1.5vw;
  font-weight: bold;
  color:#d6f8b8;
}

.movie-rating{
  position: relative;
  display: block;
  margin: 0.2vw 0;
  font-size: 1vw;
  color: #8fbbaf;
}

.poster{
  width: 100%;
  height: auto;
	max-height: 80%;
}


.filter-list{
  position: absolute;
  top: 10vw;
  left: 2%;
  width: 15%;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.genre-list{
  text-align: left;
  position: relative;
  font-size: 1vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.genre-list h3{
  padding: 0.5em 0.3em;
  margin: 0;
  font-size: 2vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.genre{
  display: block;
  overflow: hidden;
  width: 100%;
  height: 2.5em;
  border: none;
  cursor: pointer;
}

.genre-name{
  margin: 0 0.5em;
  padding: 0;
  text-align: left;
  font-size: 1.5em;
  line-height: 1.5em;
}

.genre:hover{
  background-color: rgba(0, 0, 0, 0.05);
}

.active{
  background-color: rgba(0, 0, 0, 0.05);
  font-weight: bold;
}
