.Home{
  text-align: center;
  position: absolute;
  font-family: arial, sans-serif;
}

.header{
  position: absolute;
  width: 100%;
  height: 8em;
  z-index: 1;
  top: 0;
  padding: 0;
  color: #fcfff5;
  line-height: 1.5;
  background-color: rgba(0,0,0, 0.7);
}

.logo{
  max-height: 90%;
  width: auto;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 2%;
}

.title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 4em;
  font-weight: bold;
  font-family: 'Righteous', cursive;
}

.gallery{
  position: relative;
  top: 20em;
  left: 22%;
  width: 75%;
  padding: 1em 0.5em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.1);
}

.gallery-item{
  position: relative;
  width: 22%;
  max-height: 40em;
  margin: 0.5em 0.3em;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0.2em 0.5em 0 rgba(0,0,0,0.8);
  color: #F2F2F2;
}

.tag{
  position: relative;
  max-height: 20%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
}

.movie-name{
  display: inline;
  margin: 0;
  font-size: 1em;
  font-weight: bold;
}

.movie-rating{
  display: inline;
  margin: 0;
  font-size: 1em;
}

.poster{
  width: 100%;
  height: auto;
	max-height: 80%;
}


.filter-list{
  position: absolute;
  top: 20em;
  left: 2%;
  width: 18%;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.genre-list{
  text-align: left;
  position: relative;
  /* padding: 0.5em 1em; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.genre-list h3{
  padding: 0.5em 0.3em;
  margin: 0;
  font-size: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.genre{
  display: block;
  overflow: hidden;
  width: 100%;
  height: 2.5em;
  border: none;
  cursor: pointer;
}

.genre-name{
  margin: 0 0.5em;
  padding: 0;
  text-align: left;
  font-size: 1.5em;
  line-height: 1.5em;
}

.genre:hover{
  background-color: rgba(0, 0, 0, 0.05);
}

.active{
  background-color: rgba(0, 0, 0, 0.05);
  font-weight: bold;
}
